Repository molgenis/molgenis-emx2, pull requests merged in 2024-04, with the labels that each got.

#3593 fix: updated contact details
  apps/cranio-public/src/views/view-home.vue
  apps/cranio-public/vite.config.js
Labels: dashboards, ern, ern-cranio

#3650 Add support for file names
  apps/cranio-public/src/views/view-documents.vue
  apps/molgenis-viz/src/components/display/FileList.vue
  apps/molgenis-viz/tsconfig.json
Labels: dashboards, ern, ern-cranio

#3536 feat: add viz-emx components
  apps/molgenis-viz/src/App.vue
  apps/molgenis-viz/src/app-components/settings_chart_type_selector.vue
  apps/molgenis-viz/src/app-components/settings_new_chart.vue
  apps/molgenis-viz/src/components/icons/viz-bar-chart.vue
  apps/molgenis-viz/src/components/icons/viz-column-chart.vue
  apps/molgenis-viz/src/components/icons/viz-pie-chart.vue
  apps/molgenis-viz/src/components/icons/viz-scatter-plot.vue
  apps/molgenis-viz/src/components/viz/BarChart.vue
  apps/molgenis-viz/src/components/viz/BarChartEmx.vue
  apps/molgenis-viz/src/components/viz/ColumnChart.vue
  apps/molgenis-viz/src/components/viz/ColumnChartEmx.vue
  apps/molgenis-viz/src/components/viz/DataTableEmx.vue
  apps/molgenis-viz/src/components/viz/GeoMercator.vue
  apps/molgenis-viz/src/components/viz/GeoMercatorEmx.vue
  apps/molgenis-viz/src/components/viz/GroupedColumnChart.vue
  apps/molgenis-viz/src/components/viz/GroupedColumnChartEmx.vue
  apps/molgenis-viz/src/components/viz/PieChart2.vue
  apps/molgenis-viz/src/components/viz/PieChart2Emx.vue
  apps/molgenis-viz/src/components/viz/ScatterPlot.vue
  apps/molgenis-viz/src/components/viz/ScatterPlotEmx.vue
  apps/molgenis-viz/src/gql/schema.ts
  apps/molgenis-viz/src/interfaces/schema.ts
  apps/molgenis-viz/src/interfaces/viz.ts
  apps/molgenis-viz/src/router/index.js
  apps/molgenis-viz/src/styles/mixins.scss
  apps/molgenis-viz/src/utils/defaults.ts
  apps/molgenis-viz/src/utils/emxViz.ts
  apps/molgenis-viz/src/utils/graphql.ts
  apps/molgenis-viz/src/utils/index.ts
  apps/molgenis-viz/src/utils/useFetch.ts
  apps/molgenis-viz/src/views/charts-builder.vue
  apps/molgenis-viz/src/views/charts-home.vue
  apps/molgenis-viz/src/views/view-home.vue
  apps/molgenis-viz/src/views/viz-demo.vue
  apps/molgenis-viz/vite.config.js
  apps/nuxt3-ssr/.fingerprint.js
Labels: dashboards

#3641 feat: retain filter state
  apps/nuxt3-ssr/components/CohortCard.vue
  apps/nuxt3-ssr/components/CollectionEventDisplay.vue
  apps/nuxt3-ssr/components/DataSourceCard.vue
  apps/nuxt3-ssr/components/FilterWell.vue
  apps/nuxt3-ssr/components/SubCohortDisplay.vue
  apps/nuxt3-ssr/components/content/cohort/GeneralDesign.vue
  apps/nuxt3-ssr/components/filter/Container.vue
  apps/nuxt3-ssr/components/filter/Sidebar.vue
  apps/nuxt3-ssr/interfaces/types.ts
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/[resourceType]/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/cohorts/[cohort]/collection-events/[collectionevent].vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/cohorts/[cohort]/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/cohorts/[cohort]/subcohorts/[subcohort].vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/cohorts/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/datasources/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/networks/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/variables/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/index.vue
  apps/nuxt3-ssr/utils/buildQueryFilter.test.ts
  apps/nuxt3-ssr/utils/buildQueryFilter.ts
  apps/nuxt3-ssr/utils/dateUtils.ts
  apps/nuxt3-ssr/utils/filterUtils.test.ts
  apps/nuxt3-ssr/utils/filterUtils.ts
  e2e/tests/catalogue/retain-filter-state.spec.ts
Labels: ssr-catalogue
