Repository molgenis/molgenis-emx2, pull requests merged in 2024-07, with the labels that each got.

#3881 feat(pyclient): upload method for the Pyclient
  docs/molgenis/use_usingpyclient.md
  tools/pyclient/dev/upload_file.py
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
  tools/pyclient/src/molgenis_emx2_pyclient/graphql_queries.py
Labels: emx2_python_client

#3856 Fix: fixed beacon search ui
  apps/gportal/.env
  apps/gportal/src/interfaces/index.ts
  apps/gportal/src/styles/index.scss
  apps/gportal/src/utils/index.ts
  apps/gportal/src/views/search-beacon.vue
Labels: bug, app:dashboards

#4011 feat: Revised String component
  apps/nuxt3-ssr/components/ContactForm.vue
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/components/input/Label.vue
  apps/tailwind-components/components/input/String.vue
  apps/tailwind-components/pages/input/String.story.vue
  apps/tailwind-components/tailwind.config.js
Labels: tailwind

#4024 fix: fix GDI portal beacon search inputs
  apps/gportal/jsconfig.json
  apps/gportal/src/components/CheckBoxSearch.vue
  apps/gportal/src/interfaces/index.ts
  apps/gportal/src/styles/index.scss
  apps/gportal/src/utils/index.ts
  apps/gportal/src/views/search-beacon.vue
  apps/gportal/tsconfig.json
  apps/gportal/vite.config.js
Labels: app:dashboards

#3918 feat(pyclient): add filter query on the client's get method/csv api
  docs/molgenis/use_usingpyclient.md
  tools/pyclient/dev/dev.py
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
Labels: emx2_python_client

#4062 feat(components): added checkbox component
  apps/nuxt3-ssr/components/ContactForm.vue
  apps/tailwind-components/app.vue
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/components/input/Checkbox.vue
  apps/tailwind-components/components/input/Label.vue
  apps/tailwind-components/pages/input/Checkbox.story.vue
  apps/tailwind-components/pages/input/Label.story.vue
  apps/tailwind-components/pages/input/String.story.vue
  apps/tailwind-components/tailwind.config.js
Labels: tailwind

#4055 feat: added support for named tables, columns, and subselections in aggregation dashboard
  apps/aggregates/index.html
  apps/aggregates/jsconfig.json
  apps/aggregates/package.json
  apps/aggregates/src/App.vue
  apps/aggregates/src/interfaces/types.ts
  apps/aggregates/src/main.js
  apps/aggregates/src/router/index.js
  apps/aggregates/src/styles/index.scss
  apps/aggregates/src/styles/variables.scss
  apps/aggregates/src/utils/index.ts
  apps/aggregates/src/views/view-dashboard.vue
  apps/aggregates/tsconfig.json
  apps/aggregates/vite.config.js
  apps/aggregation-dashboard/public/aggregation-header.jpg
  apps/aggregation-dashboard/vite.config.js
  apps/package.json
Labels: app:dashboards

#4063 feat(components): init viz legend component and story
  apps/tailwind-components/app.vue
  apps/tailwind-components/components/viz/Legend.vue
  apps/tailwind-components/components/viz/LegendMarker.vue
  apps/tailwind-components/pages/viz/Legend.story.vue
Labels: app:dashboards, tailwind

#3915 model(catalogue): created flat catalogue based on 'collections' including dcat annotations
  apps/central/src/components/SchemaCreateModal.vue
  backend/molgenis-emx2-datamodels/src/main/java/org/molgenis/emx2/datamodels/AvailableDataModels.java
  backend/molgenis-emx2-datamodels/src/test/java/org/molgenis/emx2/datamodels/TestLoaders.java
  data/_models/shared/Catalogues.csv
  data/_models/shared/Collection DAPs.csv
  data/_models/shared/Collection contacts.csv
  data/_models/shared/Collection counts.csv
  data/_models/shared/Collection datasets.csv
  data/_models/shared/Collection documentation.csv
  data/_models/shared/Collection events.csv
  data/_models/shared/Collection external identifiers.csv
  data/_models/shared/Collection linkages.csv
  data/_models/shared/Collection organisations.csv
  data/_models/shared/Collection populations.csv
  data/_models/shared/Collection publications.csv
  data/_models/shared/Collection samplesets.csv
  data/_models/shared/Collection subcohorts counts.csv
  data/_models/shared/Collection subcohorts.csv
  data/_models/shared/Collection variables.csv
  data/_models/shared/Collections.csv
  data/_models/shared/Contacts.csv
  data/_models/shared/DAPs.csv
  data/_models/shared/Dataset mappings.csv
  data/_models/shared/Datasets.csv
  data/_models/shared/Documentation.csv
  data/_models/shared/External identifiers.csv
  data/_models/shared/Linked collections.csv
  data/_models/shared/Mapped collections.csv
  data/_models/shared/Mapped datasets.csv
  data/_models/shared/Mapped variables.csv
  data/_models/shared/Mappings.csv
  data/_models/shared/Organisations.csv
  data/_models/shared/Population counts.csv
  data/_models/shared/Publications.csv
  data/_models/shared/Quantitative information.csv
  data/_models/shared/Samplesets.csv
  data/_models/shared/Submissions.csv
  data/_models/shared/Variable mappings.csv
  data/_models/shared/Variable values.csv
  data/_models/shared/Variables.csv
  data/_models/shared/Version.csv
  data/_ontologies/Clinical study types.csv
  data/_ontologies/Cohort collection types.csv
  data/_ontologies/Cohort study types.csv
  data/_ontologies/Collection types FLAT.csv
  data/_ontologies/Variable repeat units.csv
  data/_profiles/CohortsStaging.yaml
  data/_profiles/NetworksStaging.yaml
  data/_profiles/RWEStaging.yaml
  data/_profiles/StudiesStaging.yaml
  data/_profiles/UMCGCohortsStaging.yaml
  data/datacatalogue/stagingCohortsUMCG/molgenis.csv
Labels: demo

#4070 feat(components): init autogenerated sidebar list
  apps/tailwind-components/app.vue
  apps/tailwind-components/nuxt.config.ts
  apps/tailwind-components/pages/index.vue
  apps/tailwind-components/pages/input/List.story.vue
  apps/tailwind-components/pages/input/Tree.story.vue
  e2e/tests/tailwind-components/input/tree.spec.ts
Labels: tailwind

#4076 fix (components): adjusted nuxt config path prefix settings
  apps/tailwind-components/app.vue
  apps/tailwind-components/components/BaseIcon.vue
  apps/tailwind-components/components/viz/ChartLegend.vue
  apps/tailwind-components/components/viz/ChartLegendMarker.vue
  apps/tailwind-components/nuxt.config.ts
  apps/tailwind-components/pages/Icons.story.vue
  apps/tailwind-components/pages/viz/ChartLegend.story.vue
Labels: tailwind
