Repository molgenis/molgenis-emx2, pull requests merged in 2024-03, with the labels that each got.

#3478 feat: list view counts
  apps/nuxt3-ssr/components/SearchResultsCount.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/datasources/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/networks/index.vue
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/variables/index.vue
  e2e/tests/catalogue/search-results-count.spec.ts
Labels: catalogue, ssr-catalogue

#3482 fix: added word break to variable names
  apps/nuxt3-ssr/components/VariableCard.vue
Labels: bug, ssr-pretest

#3422 feat: pythonic object representation of schema, table, column for Pyclient
  docs/molgenis/use_usingpyclient.md
  tools/pyclient/README.md
  tools/pyclient/dev/dev.py
  tools/pyclient/pyproject.toml
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
  tools/pyclient/src/molgenis_emx2_pyclient/exceptions.py
  tools/pyclient/src/molgenis_emx2_pyclient/graphql_queries.py
  tools/pyclient/src/molgenis_emx2_pyclient/metadata.py
Labels: emx2_python_client

#3503 fix: relative import of exceptions in metadata.py
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
  tools/pyclient/src/molgenis_emx2_pyclient/metadata.py
Labels: emx2_python_client

#3505 feat: Show CATALOGUE_BCC_MSG value if set
  apps/nuxt3-ssr/components/SettingsMessage.vue
  apps/nuxt3-ssr/components/content/ContentBlockIntro.vue
  docs/molgenis/dev_messageapi.md
Labels: ssr-catalogue

#3498 fix: add definitions for about statuses
  apps/nuxt3-ssr/components/harmonization/HarmonizationGridPerVariable.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationLegend.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationLegendDetailed.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationLegendMatrix.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationListPerVariable.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationStatus.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationStatusIcon.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationTable.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationTableCell.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationTableCellAvailableIcon.vue
  apps/nuxt3-ssr/components/harmonization/HarmonizationTableCellStatusIcon.vue
  apps/nuxt3-ssr/interfaces/types.ts
Labels: ssr-catalogue, ssr-pretest

#3522 fix: Pyclient query URLs
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
  tools/pyclient/src/molgenis_emx2_pyclient/graphql_queries.py
Labels: emx2_python_client

#3552 fix: cranio app file handling
  apps/cranio-provider/README.md
  apps/cranio-provider/src/App.vue
  apps/cranio-provider/src/components/AppFooter.vue
  apps/cranio-provider/vite.config.js
  apps/cranio-public/src/views/view-documents.vue
  apps/molgenis-viz/src/components/display/FileList.vue
Labels: dashboards

#3566 fix: update schema modal
  apps/central/src/components/SchemaEditModal.vue
Labels: bug
