Repository molgenis/molgenis-emx2, pull requests merged in 2024-08, with the labels that each got.

#4079 docs (dev): expanded tailwind component docs
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/package.json
  apps/tailwind-components/README.md
  docs/molgenis/_sidebar.md
  docs/molgenis/dev_apps.md
  docs/molgenis/dev_guidelines.md
Labels: documentation

#4116 doc: add contributing guidelines
  .vscode/settings.json
  CONTRIBUTING.md
  docs/molgenis/README.md
  docs/molgenis/_sidebar.md
  docs/molgenis/dev.md
  docs/molgenis/dev_apps.md
  docs/molgenis/dev_basics.md
  docs/molgenis/dev_troubleshooting.md
Labels: documentation

#4124 fix(pyclient): use 'localhost' as server for Pyclient
  docs/molgenis/use_usingpyclient.md
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
  tools/pyclient/src/molgenis_emx2_pyclient/utils.py
Labels: emx2_python_client

#4142 chore(datamodel): reduced the number of tables in the UMCGCohortStaging profile
  backend/molgenis-emx2-datamodels/src/test/java/org/molgenis/emx2/datamodels/TestLoaders.java
  data/_models/shared/Collection contacts.csv
  data/_models/shared/Collection datasets.csv
  data/_models/shared/Collection organisations.csv
  data/_models/shared/Collection samplesets.csv
  data/_models/shared/Collections.csv
  data/_models/shared/Mapped datasets.csv
  data/_models/shared/Mapped variables.csv
  data/_models/shared/Variable values.csv
  data/_models/shared/Variables.csv
Labels: data-model

#4166 fix (gdi): added missing profile config and updated search ui
  apps/gportal/.env
  apps/gportal/src/components/AppFooter.vue
  apps/gportal/src/interfaces/beacon.ts
  apps/gportal/src/interfaces/datasets.ts
  apps/gportal/src/utils/beacon.ts
  apps/gportal/src/utils/index.ts
  apps/gportal/src/views/search-beacon.vue
  apps/gportal/src/views/search-dataset.vue
  apps/gportal/vite.config.js
  data/_demodata/applications/gdi/Agent.csv
  data/_profiles/GDI.yaml
Labels: app:dashboards
