Repository molgenis/molgenis-emx2, pull requests merged in 2025-02, with the labels that each got.

#4558 feat(pyclient): add support for GraphQL API to 'get' method
  docs/molgenis/use_usingpyclient.md
  tools/pyclient/README.md
  tools/pyclient/dev/dev.py
  tools/pyclient/dev/directory-ref.py
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
  tools/pyclient/src/molgenis_emx2_pyclient/constants.py
  tools/pyclient/src/molgenis_emx2_pyclient/exceptions.py
  tools/pyclient/src/molgenis_emx2_pyclient/graphql_queries.py
  tools/pyclient/src/molgenis_emx2_pyclient/metadata.py
  tools/pyclient/src/molgenis_emx2_pyclient/utils.py
Labels: emx2_python_client

#4695 fix(tw): fixed color contrast in message component
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/assets/css/theme/molgenis.css
  apps/tailwind-components/components/Message.vue
Labels: tailwind

#4702 fix(tw): fixes to stories
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/components/SourceCode.vue
  apps/tailwind-components/components/Story.vue
  apps/tailwind-components/pages/Button.story.vue
  apps/tailwind-components/pages/index.vue
  apps/tailwind-components/pages/input/Checkbox.story.vue
  apps/tailwind-components/pages/input/Label.story.vue
  apps/tailwind-components/pages/input/Listbox.story.vue
  apps/tailwind-components/pages/viz/ChartLegend.story.vue
  apps/tailwind-components/tailwind.config.js
Labels: tailwind

#4706 fix(tw): form legend
  apps/tailwind-components/components/form/Legend.vue
  apps/tailwind-components/pages/Legend.story.vue
Labels: tailwind

#4720 fix(tw): corrected typos in class names
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/assets/css/theme/aumc.css
  apps/tailwind-components/assets/css/theme/dark.css
  apps/tailwind-components/assets/css/theme/molgenis.css
  apps/tailwind-components/assets/css/theme/umcg.css
  apps/tailwind-components/components/Message.vue
  apps/tailwind-components/tailwind.config.js
Labels: tailwind

#4732 fix(tw): fixed pagination styling and support for other themes
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/assets/css/theme/aumc.css
  apps/tailwind-components/assets/css/theme/dark.css
  apps/tailwind-components/assets/css/theme/umcg.css
  apps/tailwind-components/components/Pagination.vue
  apps/tailwind-components/tailwind.config.js
Labels: tailwind

#4644 feat(tw): file input component
  apps/tailwind-components/.pa11yci
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/assets/css/theme/molgenis.css
  apps/tailwind-components/assets/icons/Upload file.svg
  apps/tailwind-components/components/Button.vue
  apps/tailwind-components/components/Input.vue
  apps/tailwind-components/components/global/icons/UploadFile.vue
  apps/tailwind-components/components/input/File.vue
  apps/tailwind-components/pages/input/File.story.vue
  apps/tailwind-components/tailwind.config.js
  apps/tailwind-components/types/types.ts
Labels: tailwind

#4733 fix: fixed sorting and filtering issues
  apps/cranio-provider/src/views/provider-clp-your-center.vue
  apps/cranio-provider/src/views/provider-cs-all-general.vue
  apps/cranio-provider/src/views/provider-cs-center-general.vue
  apps/cranio-provider/src/views/provider-cs-center-surgical.vue
Labels: app:dashboards

#4736 fix(pyclient): fixed error when uploading updated molgenis.csv schema file
  tools/pyclient/README.md
  tools/pyclient/src/molgenis_emx2_pyclient/client.py
Labels: emx2_python_client

#4741 fix(tw): added missing classes to tree input
  apps/tailwind-components/components/input/CheckboxIcon.vue
  apps/tailwind-components/components/input/Listbox.vue
  apps/tailwind-components/components/input/Tree.vue
  apps/tailwind-components/components/input/TreeNode.vue
Labels: tailwind
