Repository molgenis/molgenis-emx2, pull requests merged in 2025-01, with the labels that each got.

#4539 feat: fix ontology tree ui performance and enabled large disease ontologies filter on catalogue
  apps/nuxt3-ssr/components/filter/Ontology.vue
  apps/nuxt3-ssr/composables/fetchOntology.ts
  apps/nuxt3-ssr/pages/[schema]/ssr-catalogue/[catalogue]/[resourceType]/index.vue
  apps/tailwind-components/components/input/Tree.vue
  apps/tailwind-components/components/input/TreeNode.vue
  apps/tailwind-components/pages/input/Tree.story.vue
  apps/tailwind-components/tests/components/input/InputTree.spec.ts
  apps/tailwind-components/types/types.ts
  e2e/tests/tailwind-components/input/tree.spec.ts
Labels: promised to project

#4613 data: new dashboard data model
  apps/central/src/components/SchemaCreateModal.vue
  backend/molgenis-emx2-datamodels/src/main/java/org/molgenis/emx2/datamodels/DataModels.java
  backend/molgenis-emx2-datamodels/src/main/java/org/molgenis/emx2/datamodels/UiDashboardLoader.java
  backend/molgenis-emx2-datamodels/src/test/java/org/molgenis/emx2/datamodels/TestLoaders.java
  data/ui_dashboards/demodata/Chart data.csv
  data/ui_dashboards/demodata/Charts.csv
  data/ui_dashboards/demodata/Dashboard pages.csv
  data/ui_dashboards/molgenis.csv
  data/ui_dashboards/ontologies/Chart types.csv
  data/ui_dashboards/ontologies/Legend positions.csv
  data/ui_dashboards/ontologies/Time intervals.csv
Labels: data-model

#4621 chore(pyclient): updated GraphQL metadata query to be in line with current metadata model
  tools/pyclient/src/molgenis_emx2_pyclient/graphql_queries.py
Labels: emx2_python_client

#4516 feat(dashboards): connect CRANIO dashboard to the database
  apps/cranio-provider/README.md
  apps/cranio-provider/index.html
  apps/cranio-provider/jsconfig.json
  apps/cranio-provider/package.json
  apps/cranio-provider/src/App.vue
  apps/cranio-provider/src/components/AppFooter.vue
  apps/cranio-provider/src/components/DashboardChartLayout.vue
  apps/cranio-provider/src/components/LoadingBlock.vue
  apps/cranio-provider/src/components/ProviderDashboard.vue
  apps/cranio-provider/src/components/ProviderSidebar.vue
  apps/cranio-provider/src/components/ValueShowcase.vue
  apps/cranio-provider/src/main.ts
  apps/cranio-provider/src/router/index.js
  apps/cranio-provider/src/styles/index.scss
  apps/cranio-provider/src/types/app.ts
  apps/cranio-provider/src/types/index.ts
  apps/cranio-provider/src/types/schema.ts
  apps/cranio-provider/src/utils/clpUtils.ts
  apps/cranio-provider/src/utils/csSurgicalUtils.ts
  apps/cranio-provider/src/utils/devtools.js
  apps/cranio-provider/src/utils/generateAxisTicks.ts
  apps/cranio-provider/src/utils/generateColorPalette.ts
  apps/cranio-provider/src/utils/getCranioSchemaNames.ts
  apps/cranio-provider/src/utils/getDashboardData.ts
  apps/cranio-provider/src/utils/getOrganisation.ts
  apps/cranio-provider/src/utils/getSchemaName.ts
  apps/cranio-provider/src/utils/index.ts
  apps/cranio-provider/src/utils/palette.js
  apps/cranio-provider/src/views/provider-clp-all-centers.vue
  apps/cranio-provider/src/views/provider-clp-app.vue
  apps/cranio-provider/src/views/provider-clp-your-center.vue
  apps/cranio-provider/src/views/provider-cs-all-general.vue
  apps/cranio-provider/src/views/provider-cs-all-surgical.vue
  apps/cranio-provider/src/views/provider-cs-app.vue
  apps/cranio-provider/src/views/provider-cs-center-general.vue
  apps/cranio-provider/src/views/provider-cs-center-surgical.vue
  apps/cranio-provider/src/views/provider-genetic-deafness.vue
  apps/cranio-provider/src/views/provider-larnyxcleft.vue
  apps/cranio-provider/src/views/provider-overview.vue
  apps/cranio-provider/tests/generateAxisTicks.test.ts
  apps/cranio-provider/tests/index.test.ts
  apps/cranio-provider/tsconfig.json
  apps/dev-proxy.config.js
Labels: app:dashboards, ern-cranio

#4640 chore: Add .vscode/ to .gitignore
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: chore

#4421 feat(tw): init listbox component
  apps/metadata-utils/src/types.ts
  apps/tailwind-components/assets/css/main.css
  apps/tailwind-components/components/form/Field.vue
  apps/tailwind-components/components/form/FieldInput.vue
  apps/tailwind-components/components/input/Listbox.vue
  apps/tailwind-components/components/input/listbox/List.vue
  apps/tailwind-components/components/input/listbox/ListItem.vue
  apps/tailwind-components/components/input/listbox/Toggle.vue
  apps/tailwind-components/pages/Form.story.vue
  apps/tailwind-components/pages/input/Listbox.story.vue
  apps/tailwind-components/tailwind.config.js
  apps/tailwind-components/types/listbox.ts
  apps/yarn.lock
  backend/molgenis-emx2-rdf/src/test/java/org/molgenis/emx2/rdf/ColumnTypeRdfMapperTest.java
  e2e/tests/tailwind-components/input/listbox.spec.ts
Labels: tailwind

#4593 fix (portal): data model changes
  backend/molgenis-emx2-datamodels/src/test/java/org/molgenis/emx2/datamodels/TestLoaders.java
  data/_ontologies/Age groups at onset.csv
  data/_ontologies/AllowRecontacting.csv
  data/_ontologies/AnatomicalLocation.csv
  data/_ontologies/LibraryLayout.csv
  data/_ontologies/PathologicalState.csv
  data/portal/Biosamples.csv
  data/portal/Files.csv
  data/portal/Individual observations.csv
  data/portal/Protocol activity.csv
  data/portal/Protocol parameters.csv
Labels: data-model
