Repository molgenis/molgenis-emx2, pull requests merged in 2025-03, with the labels that each got.

#4797 feat: directory favicon
  apps/directory/package.json
  apps/directory/public/bbmri-darkmode-favicon.ico
  apps/directory/public/bbmri-lightmode-favicon.ico
  apps/directory/public/favicon.ico
  apps/directory/src/App.vue
  apps/molgenis-components/package.json
  apps/yarn.lock
Labels: app:directory

#4840 chore(staging-migrator): corrected mismatch between table ids and table file names
  data/scripts/catalogue/publish/delete_resource.py
  data/scripts/catalogue/publish/publish_resources.py
  tools/staging_migrator/src/molgenis_emx2_staging_migrator/migrator.py
Labels: python

#4853 docs(catalogue): Add updated data model changelog
  docs/catalogue/cat_admin.md
Labels: documentation, data-model

#4087 feat: init kwf-nestor app
  apps/nestor-public/README.md
  apps/nestor-public/index.html
  apps/nestor-public/package.json
  apps/nestor-public/public/img/bg-dashboard.jpg
  apps/nestor-public/public/img/bg-documents.jpg
  apps/nestor-public/public/img/kwf_supported_by_logo.png
  apps/nestor-public/public/img/molgenis-logo-blue-text.png
  apps/nestor-public/public/img/nestor-logo.png
  apps/nestor-public/src/App.vue
  apps/nestor-public/src/components/Address.vue
  apps/nestor-public/src/components/AppFooter.vue
  apps/nestor-public/src/components/QuickLinks.vue
  apps/nestor-public/src/data/nl.geo.json
  apps/nestor-public/src/graphql/gqlOrganisations.js
  apps/nestor-public/src/main.ts
  apps/nestor-public/src/pages/view-about.vue
  apps/nestor-public/src/pages/view-contact.vue
  apps/nestor-public/src/pages/view-dashboard.vue
  apps/nestor-public/src/pages/view-disclaimer.vue
  apps/nestor-public/src/pages/view-documents.vue
  apps/nestor-public/src/pages/view-governance.vue
  apps/nestor-public/src/pages/view-home.vue
  apps/nestor-public/src/pages/view-privacy.vue
  apps/nestor-public/src/router/index.js
  apps/nestor-public/src/styles/index.scss
  apps/nestor-public/src/styles/variables.scss
  apps/nestor-public/src/types/index.ts
  apps/nestor-public/src/types/schema.ts
  apps/nestor-public/src/utils/generateAxisTicks.ts
  apps/nestor-public/tsconfig.json
  apps/nestor-public/vite.config.js
  apps/package.json
Labels: app:dashboards
